<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{country.flag}}" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">{{country.name}}</h5>
      <div> <span class="font-weight-bold mr-2">Population:</span><span>{{country.population | number}}</span></div>
      <div> <span class="font-weight-bold mr-2">Region:</span><span>{{country.region}}</span></div>
      <div> <span class="font-weight-bold mr-2">Capital:</span><span>{{country.capital}}</span></div>
      <a class="stretched-link" [routerLink]="['/detail', country.alpha3Code]"></a>
    </div>
</div>
